.card1:hover{
    transform: scale(1.046);
    
}
.bookmark{
    transition:transform .5s; 
}
.card1{
    border: none;
   transition:transform .5s; 
}

.btn1:hover{
    transform: translateX(12px);
   
}
.btn1{
   transition:transform 0.3s; 
}
.tag:hover{
    transform: scale(1.1);
}
.tag{
    transition:transform .5s; 
 }
 